
{{ define "main" }}
    <div id="article-toolbar">
        <a href="{{ .Site.BaseURL }}" class="back-home">
            {{ (resources.Get "icons/back.svg").Content | safeHTML }}
            <span>Back</span>
        </a>
    </div>


    <div class="article-page projects">
      <section class="article-list">
        {{ range .Params.projects }}
          <article class="{{ if .image }}has-image {{ end }}main-article">
            <div class="article-details">
              <h2 class="article-title">{{ .name }}</h2>
              <section class="article-content">
                {{ .description | markdownify }}
                <footer class="article-category">
                  {{ range .link }}
                    <a href="{{ .link }}" class="color-tag">
                      {{ .name }}
                    </a>
                  {{ end }}
                </footer>
              </section>
            </div>
          </article>
        {{ end }}
      </section>
    </div>

    {{ partialCached "footer/footer" . }}

    {{- partialCached "article/components/photoswipe.html" . -}}
{{ end }}
