{{- $image := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) -}}
{{- if $image -}}
	{{- $alt := .PlainText | safeHTML -}}
	{{- $caption := "" -}}
	{{- with $alt -}}
	{{- $caption = . | safeHTML -}}
	{{- end -}}
	<figure>
		<a href="{{ $image.RelPermalink }}" data-size="{{ $image.Width }}x{{ $image.Height }}">
			<img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" loading="lazy"
				alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}">
		</a>
		{{ with $caption }}
		<figcaption>{{ . | markdownify }}</figcaption>
		{{ end }}
	</figure>
{{- else -}}
	<img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" {{ with .Title }} title="{{ . }}"{{ end }} />
{{- end -}}
