<head>
  <meta charset="utf-8">
  <title>Curiculumn Vitae - Carl Schwan</title>
  <meta name="description"
      content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.theme_settings.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/cv.css" | relative_url }}" />
  <link rel="stylesheet" href="https://cdn.kde.org/breeze-icons/icons.css" />

  <!--Favicon-->
  <link rel="shortcut icon" href="{{ site.baseurl }}/{{ site.theme_settings.favicon }}" type="image/x-icon">

  <!-- Canonical -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | relative_url }}">
</head>
