---
---
$color-text-secondary: #97aac3; 

body {
  background: #f5f5f5;
  color: #545e6c;
}

.wrapper {
  display: flex;
  max-width: 1000px;
  margin: 50px auto;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  @media (min-width: 800px) {
    flex-direction: row;
  }
}

.sidebar-wrapper {
  text-align: center;
  background: #42a8c0;
  color: white;
  min-width: 250px;
  @media (min-width: 800px) {
    order: 2;
  }
  .profile {
    background: rgba(0,0,0,.15);
    padding-bottom: 10px;
    h2 {
      font-size: 1.2rem;
    }
  }
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  margin-top: 20px;
}

.main-wrapper {
  background: white;
  padding: 50px 5%;
  h2 {
    display: flex;
    align-items: center;
    .icon {
      margin-right: .5rem;
      background-color: #42a8c0;
      color: white;
      height: 3rem;
      width: 3rem;
      font-size: 2rem;
      line-height: 3rem;
      text-align: center;
      border-radius: 1.5rem;
    }
  }
}

.experience-title {
  display: flex;
  align-items: center;
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    font-size: 400;
  }
  small {
    margin-left: auto;
    color: $color-text-secondary;
    font-size: 0.9rem;
  }
}

.experience-company {
  margin-top: 0;
  font-weight: 400;
  color: $color-text-secondary;
  font-size: 1rem;
}
