<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.title | xml_escape }}</title>
    <description>{{ site.description | xml_escape }}</description>
    <link>https://carlschwan.eu</link>
    <atom:link href="https://carlschwan.eu/atom.xml" rel="self" type="application/rss+xml" />
    <author>
      <name>{{ site.author.name }}</name>
      <email>{{ site.author.email }}</email>
      <uri>{{ site.author.url }}</uri>
    </author>
    {% for post in paginator.posts limit:10 %}
      <item>
        <title>{{ post.title | xml_escape }}</title>
        <description>{{ post.content | xml_escape }}</description>
        <pubDate>{{ post.date | date: "%a, %d %b %Y %H:%M:%S %z" }}</pubDate>
        <link>https://carlschwan.eu/{{ post.url }}</link>
        <guid isPermaLink="true">https://carlschwan.eu/{{ post.url }}</guid>
      </item>
    {% endfor %}
  </channel>
</rss>

