{{/*
SPDX-FileCopyrightText: 2021 Carl Schwan <carlschwan@kde.org>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}
<section class="swiper swiper-container d-flex swiper-container-initialized swiper-container-horizontal mb-5" aria-label="Screenshots role=" list="" style="display: flex">
  {{ range $index, $value := (index $.Page.Params (.Get "name")) }}
    <div class="swiper-wrapper my-3" role="listitem" style="display: flex">
      <div class="swiper-slide {{ if eq $index 0 }}swiper-slide-active{{ end }}">
        <div class="swiper-zoom-container">
          <img src="{{ $value.url }}" alt="{{ $value.name }}">
        </div>
      </div>
    </div>
  {{ end }}
  <div class="swiper-pagination">
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</section>
